.footer {
  background-color: #edefee;
  height: 250px;
  font-family: Karla;

}

.footer-container{
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  height: 100%;
  align-items: center;
}

@media (max-width: 850px) {
  .footer {
    height: auto;
    padding-top: 50px;
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
